#logo{
    width: 500px;
}

#pres-main{
    margin-bottom: 50px;
}

#requierement{
    margin-bottom: 50px;
}

h4{
    margin-top: 20px;
}

.badge{
    font-size: 1.1em;
}

#logo-container {
    padding: 25px 0;
}

#modeAltTitle{
    margin-top: 20px;
}

body{
    padding-bottom: 30px;
}

#main_container {
    overflow-y: auto;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: rgb(200, 200, 200);
}